rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /rawParagraph/{recordId} {
      allow read: if true;
      allow write: if false;
    }
    match /documentJob/{recordId} {
      allow read: if true;
      allow write: if true;
    }
  }
}
