/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

[type="checkbox"],
[type="radio"] {
  height: 2rem;
  width: 2rem;
}

@font-face {
  font-family: "Buffalo";
  src: url("/fonts/Buffalo.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Bebas Neue";
  src: url("/fonts/Bebas_Neue/BebasNeue-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

html,
body,
#__next {
  height: 100%;
}
